:root {
  --c-main-text: #333;
  --c-main-bg: #EEE;
  --c-theme-first: #007fb3;
  --c-theme-second: #00abdf;

  --c-tooltip-bg: #FFF;

  --c-bg-alert: unset;
  --c-fg-alert: unset;
  --c-alert-info-light: #d9edf7;
  --c-alert-info-dark: #31708f;
  --c-alert-error-light: #f2dede;
  --c-alert-error-dark: #a94442;
  --c-alert-success-light: #dff0d8;
  --c-alert-success-dark: #3c763d;
  --c-alert-warning-light: #fcf8e3;
  --c-alert-warning-dark: #8a6d3b;

  --l-border-radius: 12px;
  --l-gap: .5rem;
  --l-height-top: 2rem;
  --l-height-bottom: 2.8rem;
  --l-icon-size: 1em;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  background: var(--c-main-bg);
  line-height: 1.4;
  margin: 0;
}
body, input, button {
  color: var(--c-main-text);
  font-family: Arial, sans-serif;
}
a {
  color: var(--c-theme-first);
  text-decoration: none;
}
label, button, input[type=button], input[type=submit], input[type=reset] {
  cursor: pointer;
  user-select: none;
}
button, input, textarea {
  font-family: inherit;
  font-size: inherit;
}

.icon {
  display: block;
  fill: currentColor;
  height: var(--l-icon-size);
  margin: 0 auto;
  width: var(--l-icon-size);
}

.hide {
  display: none !important;
}

.button-toggle span:first-child,
.button-toggle[aria-pressed='true'] span:last-child {
  display: revert;
}
.button-toggle span:last-child,
.button-toggle[aria-pressed='true'] span:first-child {
  display: none;
}

/*=== alert */
.alerts-wrapper {
  bottom: var(--l-height-bottom);
  left: var(--l-gap);
  position: fixed;
  width: calc(100% - var(--l-gap) * 2);
}
.alert {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: var(--l-border-radius);
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: .25em .5em;
  width: 100%;
  background: var(--c-bg-alert);
  color: var(--c-fg-alert);
}
.alert__close {
  background: transparent;
  border: 0 none;
  border-radius: 100%;
  color: inherit;
  font-size: inherit;
  height: 2em;
  margin-left: var(--l-gap);
  padding: 0;
}
.alert__close__icon {
  --l-icon-size: 2em;
}
.alert .alert__close:hover,
.alert .alert__close:focus,
.alert .alert__close:active {
  background: var(--c-fg-alert);
  box-shadow: 0px 0px 0px 2px var(--c-fg-alert);
  color: var(--c-bg-alert);
}
.alert--info {
  --c-bg-alert: var(--c-alert-info-light);
  --c-fg-alert: var(--c-alert-info-dark);
}
.alert--error {
  --c-bg-alert: var(--c-alert-error-light);
  --c-fg-alert: var(--c-alert-error-dark);
}
.alert--success {
  --c-bg-alert: var(--c-alert-success-light);
  --c-fg-alert: var(--c-alert-success-dark);
}
.alert--warning {
  --c-bg-alert: var(--c-alert-warning-light);
  --c-fg-alert: var(--c-alert-warning-dark);
}

/*=== tooltip */
*[tabindex="0"][title]:focus {
  outline: 2px solid var(--c-main-text);
  position: relative;
}
*[tabindex="0"][title]:focus:after {
  background: var(--c-tooltip-bg);
  border: 2px solid var(--c-main-text);
  border-radius: 3px;
  color: var(--c-main-text);
  content: attr(title);
  left: -100%;
  padding: 0 0.2em;
  position: absolute;
  top: -90%;
  width: max-content;
  z-index: 1;
}

/*=== grid */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1 1 auto;
  overflow: auto;
}

/*=== header */
.main-header {
  align-items: center;
  background: var(--c-theme-first);
  background: linear-gradient(to right, var(--c-theme-first) 0%, var(--c-theme-second) 100%);
  /* color: var(--c-main-bg); */
  display: flex;
  justify-content: space-between;
  user-select: none;
}
.main-header__title {
  font-size: 1rem;
  height: inherit;
  margin: 0;
}
.main-header__title__icon {
  --l-icon-size: var(--l-height-top);
  display: inline;
  margin-right: var(--l-gap);
  vertical-align: middle;
}
.main-header__status {
  display: flex;
}
.main-header__status__icon {
  --l-icon-size: 0.8em;
  display: block;
  margin: 0 1px;
}

/*=== footer */
.main-footer {
  background: linear-gradient(to right, var(--c-theme-first) 0%, var(--c-theme-second) 100%);
  color: var(--c-main-bg);
  padding: calc(var(--l-gap) / 2) var(--l-gap);
}

/*=== sections */
.main-header,
.main-section--home,
.main-section--stations,
.main-section--info {
  padding-left: var(--l-gap);
  padding-right: var(--l-gap);
}


#strike {
  fill: inherit;
}
.main-header__title__icon {
  fill: transparent;
}
.test {
  display: inline-block;
  --l-icon-size: 2em;
}
.test1 {
  color: var(--c-theme-first);
  fill: transparent;
}
.test2 {
  fill: #ffe074;
}
.test3 {
  --l-icon-size: 1.4em;
}

/*=== favorite */
.favorites {
  --col: 6;
  display: grid;
  gap: 1rem .5rem;
  grid-template-columns: repeat(var(--col), 1fr);
}
.favorite {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: subgrid;
}
.favorite__title {
  font-weight: bold;
  grid-column: span var(--col);
}
.favorite__id {
  font-size: 0.8rem;
  font-weight: normal;
}
.favorite__description {
  grid-column: span var(--col);
}
.favorite__description__text {
  white-space: break-spaces;
}
.edit .favorite__description__text {
  display: none;
}
.favorite__description__form {
  display: none;
  flex-direction: column;
}
.edit .favorite__description__form {
  display: flex;
}
.favorite__description__form textarea {
  flex: 1;
}
.favorite__actions {
  display: none;
}
.edit .favorite__actions {
  display: block;
}
.favorite__up {

}
.favorite__down {

}
.favorite:first-child .favorite__up,
.favorite:last-child .favorite__down {
  visibility: hidden;
}
.favorite__remove {

}
.favorite__kpis {
  display: grid;
  grid-column: span var(--col);
  grid-template-columns: subgrid;
}
.favorite__kpi {
  display: grid;
  grid-column: span calc(var(--col) / 3);
  grid-template-areas:
  "count icon" 
  "type  type";
  grid-template-columns: subgrid;
  justify-items: center;
}
.favorite__kpi__count {
  font-size: 1.8rem;
  font-weight: bold;
  grid-area: count;
  justify-self: right;
  line-height: 2rem;
}
.favorite__kpi__icon {
  grid-area: icon;
  height: 2rem;
  justify-self: left;
  margin: 0;
}
.favorite__kpi__type {
  font-size: 0.6rem;
  grid-area: type;
}
.favorite__status {
  grid-column: span var(--col);
}
.favorite__status span:after {
  content: attr(title);
  font-size: 0.6rem;
  padding-left: 0.1rem;
}
@supports not (grid-template-columns: subgrid) {
  .favorite__kpis {
    grid-template-columns: repeat(var(--col), 1fr);
  }
  .favorite__kpi {
    column-gap: .5rem;
  }
}

/*=== stations table */
.stations-search {
  padding: 1rem 0;
}
.stations-search input {
  display: block;
  line-height: 1.6;
  width: 100%;
}

table {
  border-spacing: 0;
  margin-left: calc(-1 * var(--l-gap));
  margin-right: calc(-1 * var(--l-gap));
  min-width: calc(100% + var(--l-gap) * 2);
  position: relative;
  user-select: none;
}
table, th, td {
  border: .5px solid var(--c-main-text);
}
th, td {
  padding: 2px;
}
th {
  background: var(--c-main-bg);
  position: sticky;
}
thead th {
  top: 0;
}
thead th:nth-child(2) {
  left: 0;
  z-index: 1;
}
tbody th {
  font-weight: normal;
  left: 0;
  text-align: left;
}
td:nth-child(3),
td:nth-child(6),
td:nth-child(7),
td:nth-child(8),
td:nth-child(9),
td:nth-child(10) {
  text-align: right;
}
td:nth-child(4) {
  text-align: center;
}

.station__favorite-toggle {
  border-color: transparent;
  pointer-events: none;
}
.edit .station__favorite-toggle {
  border-color: revert;
  pointer-events: revert;
}
.station__favorite-toggle span {
  font-size: 1.2rem;
  line-height: 1;
}

.station__description {
  display: block;
  pointer-events: none;
  white-space: break-spaces;
  width: 100%;
}
.edit .station__description {
  cursor: text;
  pointer-events: revert;
}
.edit .station__description:empty {
  background: red;
  height: 1rem;
}
