:root {
  --c-main-text: #3B3F45;
  --c-main-bg: #F8FAFC;
  --c-theme-first: #0075B0;
  --c-theme-second: #00ABDF;
  --c-bike: #0075B0;
  --c-ebike: #000;
  --c-ebike-strike: #FFE074;
  --c-dock: #1E4B70;

  --c-table-stripe: #FFF;
  --c-table-border: #DDD;

  --c-tooltip-bg: #FFF;

  --c-bg-alert: unset;
  --c-fg-alert: unset;
  --c-alert-info-light: #D9EDF7;
  --c-alert-info-dark: #31708F;
  --c-alert-error-light: #F2DEDE;
  --c-alert-error-dark: #A94442;
  --c-alert-success-light: #DFF0D8;
  --c-alert-success-dark: #3C763D;
  --c-alert-warning-light: #FCF8E3;
  --c-alert-warning-dark: #8A6D3B;

  --l-border-radius: 3px;
  --l-gap: .5rem;
  --l-height-top: 2rem;
  --l-height-bottom: 2.8rem;
  --l-icon-size: 1em;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  background: var(--c-main-bg);
  margin: 0;
}
body, input, button, textarea {
  color: var(--c-main-text);
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}
a {
  color: var(--c-theme-first);
  text-decoration: none;
}
label, button, input[type=button], input[type=submit], input[type=reset], summary {
  cursor: pointer;
  user-select: none;
}

.icon {
  display: block;
  fill: currentColor;
  height: var(--l-icon-size);
  margin: 0 auto;
  width: var(--l-icon-size);
}

.hide {
  display: none !important;
}

.button-toggle span:first-child,
.button-toggle[aria-pressed='true'] span:last-child {
  display: revert;
}
.button-toggle span:last-child,
.button-toggle[aria-pressed='true'] span:first-child {
  display: none;
}

.icon-bike-strike {
  fill: inherit;
}

/*=== alert */
.alerts-wrapper {
  bottom: var(--l-height-bottom);
  left: var(--l-gap);
  position: fixed;
  width: calc(100% - var(--l-gap) * 2);
  z-index: 1;
}
.alert {
  align-items: center;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: var(--l-border-radius);
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  padding: .25em .5em;
  width: 100%;
  background: var(--c-bg-alert);
  color: var(--c-fg-alert);
}
.alert__close {
  background: transparent;
  border: 0 none;
  border-radius: 100%;
  color: inherit;
  font-size: inherit;
  height: 2em;
  margin-left: var(--l-gap);
  padding: 0;
}
.alert__close__icon {
  --l-icon-size: 2em;
}
.alert .alert__close:hover,
.alert .alert__close:focus,
.alert .alert__close:active {
  background: var(--c-fg-alert);
  box-shadow: 0 0 0 2px var(--c-fg-alert);
  color: var(--c-bg-alert);
}
.alert--info {
  --c-bg-alert: var(--c-alert-info-light);
  --c-fg-alert: var(--c-alert-info-dark);
}
.alert--error {
  --c-bg-alert: var(--c-alert-error-light);
  --c-fg-alert: var(--c-alert-error-dark);
}
.alert--success {
  --c-bg-alert: var(--c-alert-success-light);
  --c-fg-alert: var(--c-alert-success-dark);
}
.alert--warning {
  --c-bg-alert: var(--c-alert-warning-light);
  --c-fg-alert: var(--c-alert-warning-dark);
}

/*=== tooltip */
*[tabindex="0"][title]:focus {
  outline: 2px solid var(--c-main-text);
  position: relative;
}
*[tabindex="0"][title]:focus:after {
  background: var(--c-tooltip-bg);
  border: 2px solid var(--c-main-text);
  border-radius: var(--l-border-radius);
  color: var(--c-main-text);
  content: attr(title);
  left: -100%;
  padding: 0 0.2em;
  position: absolute;
  top: -90%;
  width: max-content;
  z-index: 1;
}

/*=== grid */
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.main-content {
  flex: 1 1 auto;
  overflow: auto;
}

/*=== header */
.main-header {
  background: var(--c-theme-first);
  /* background: linear-gradient(to right, var(--c-theme-first) 0%, var(--c-theme-second) 100%); */
  color: var(--c-main-bg);
  user-select: none;
}
.main-header__title {
  font-size: inherit;
  margin: 0;
}
.main-header__title__icon {
  --l-icon-size: var(--l-height-top);
  display: inline;
  fill: transparent; /* to hide the strike */
  margin-right: var(--l-gap);
  vertical-align: middle;
}

/*=== footer */
.main-footer {
  background: linear-gradient(to right, var(--c-theme-first) 0%, var(--c-theme-second) 100%);
  color: var(--c-main-bg);
  display: flex;
  padding: calc(var(--l-gap) / 2) var(--l-gap);
}
.main-footer button {
  margin-left: auto;
  position: relative;
}
.main-footer button.success {
  color: var(--c-alert-success-dark);
}
.main-footer button.success:after {
  bottom: 0;
  content: 'v';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.main-footer button.rotating {
  pointer-events: none;
}
.main-footer button.rotating svg {
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*=== sections */
.main-header,
.main-section--home,
.main-section--stations,
.main-section--settings,
.main-section--info {
  padding-left: var(--l-gap);
  padding-right: var(--l-gap);
}

/*=== favorite */
.favorites {
  --favs: 1;
  --kpi-col: 2;
  --fav-col: calc(var(--items) * var(--kpi-col));
  --col: calc(var(--fav-col) * var(--favs));
  display: grid;
  gap: calc(var(--l-gap) * 2) var(--l-gap);
  grid-template-columns: repeat(var(--col), 1fr);
  margin: 0 0 calc(var(--l-gap) * 2);
}
.compact .favorites {
  --favs: 2;
}
.favorite {
  display: grid;
  grid-column: span var(--fav-col);
  grid-template-columns: subgrid;
}
.favorite > * {
  grid-column: span var(--col);
}
.compact .favorite {
  border: 1px dotted var(--c-theme-first);
}
.favorite__title {
  font-weight: bold;
}
.favorite__id {
  font-size: 0.8rem;
  font-weight: normal;
}
.favorite__description__text {
  white-space: break-spaces;
}
.edit .favorite__description__text {
  display: none;
}
.favorite__description__form {
  display: none;
  flex-direction: column;
}
.edit .favorite__description__form {
  display: flex;
}
.favorite__description__form textarea {
  flex: 1;
}
.favorite__actions {
  display: none;
}
.edit .favorite__actions {
  display: block;
}
.favorite:first-child .favorite__up,
.favorite:last-child .favorite__down {
  visibility: hidden;
}
.favorite__kpis {
  display: grid;
  grid-template-columns: subgrid;
}
.favorite__kpi {
  display: grid;
  grid-column: span var(--kpi-col);
  grid-template-areas:
  "count icon" 
  "type  type";
  grid-template-columns: subgrid;
  justify-items: center;
}
.favorite__kpi__count {
  font-size: 1.8rem;
  font-weight: bold;
  grid-area: count;
  justify-self: right;
  line-height: 2rem;
}
.favorite__kpi__icon {
  --l-icon-size: 2em;
  grid-area: icon;
  justify-self: left;
  margin: 0;
}
.favorite__kpi__icon--bike {
  color: var(--c-bike);
  fill: transparent;
}
.favorite__kpi__icon--ebike {
  color: var(--c-ebike);
  fill: var(--c-ebike-strike);
}
.favorite__kpi__icon--dock {
  --l-icon-size: 1.4em;
  color: var(--c-dock);
  height: 2rem;
}
.favorite__kpi__type {
  font-size: 0.6rem;
  grid-area: type;
}
.favorite__status span:after {
  content: attr(title);
  font-size: 0.6rem;
  padding-left: 0.1rem;
}
@supports not (grid-template-columns: subgrid) {
  .favorite__kpis {
    grid-template-columns: repeat(var(--fav-col), 1fr);
  }
  .favorite__kpi {
    column-gap: var(--l-gap);
  }
}

/*=== stations table */
.stations-search {
  margin: calc(var(--l-gap) * 2) 0;
}
.stations-search input {
  display: block;
  line-height: 1.6;
  width: 100%;
}

table {
  border-spacing: 0;
  margin-left: calc(-1 * var(--l-gap));
  margin-right: calc(-1 * var(--l-gap));
  min-width: calc(100% + var(--l-gap) * 2);
  position: relative;
  user-select: none;
}
table, th, td {
  border: .5px solid var(--c-table-border);
}
th, td {
  padding: 2px;
  vertical-align: text-top;
}
th {
  background: inherit;
  position: sticky;
}
thead th {
  background: var(--c-theme-second);
  border-color: var(--c-theme-first);
  top: 0;
}
thead th:nth-child(2) {
  left: 0;
  z-index: 1;
}
tr {
  background: var(--c-main-bg);
}
tr:nth-child(even) {
  background: var(--c-table-stripe);
}
tbody th {
  font-weight: normal;
  left: 0;
  text-align: left;
}
td:nth-child(3),
td:nth-child(6),
td:nth-child(7),
td:nth-child(8),
td:nth-child(9),
td:nth-child(10) {
  text-align: right;
}
td:nth-child(4) {
  text-align: center;
}
td[colspan="12"] {
  text-align: center;
}

.station__favorite-toggle {
  background: transparent;
  border-color: transparent;
  pointer-events: none;
}
.edit .station__favorite-toggle {
  background: revert;
  border-color: revert;
  pointer-events: revert;
}
.station__favorite-toggle span {
  font-size: 1.2rem;
  line-height: 1;
}

.station__description {
  background: transparent;
  border-color: transparent;
  display: block;
  pointer-events: none;
  resize: none;
}
.edit .station__description {
  background: revert;
  border-color: revert;
  pointer-events: revert;
  resize: revert;
}

/*=== actions */
.actions, .settings {
  display: flex;
  flex-direction: column;
  gap: calc(var(--l-gap) * 2);
  margin-bottom: calc(var(--l-gap) * 2);
}

/*=== settings */
.settings {
  margin-top: calc(var(--l-gap) * 2);
}

/*=== input checkbox with svg icons */
.input-checkbox__label {
  align-items: center;
  display: flex;
  gap: var(--l-gap);
  position: relative;
  width: fit-content;
}
.input-checkbox__check {
  cursor: inherit;
  font-size: 100%;
  height: var(--l-icon-size);
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  width: var(--l-icon-size);
}
.input-checkbox__icon {
  margin: 0;
}
/* visually show focus outline when the SVG receives focus */
.input-checkbox__check:focus ~ .input-checkbox__icon {
  outline: 2px solid var(--c-theme-first);
  outline-offset: 2px;
  border-radius: 1px;
}
/* hide the focus styles for mouse users */
.input-checkbox__check:focus:not(:focus-visible) ~ .input-checkbox__icon {
  outline: none;
}
.input-checkbox__icon__checked {
  display: none;
}
.input-checkbox__check:checked ~ .input-checkbox__icon .input-checkbox__icon__checked {
  display: block;
}